<!DOCTYPE html>
<html>
<head>
    <title>Bus Stations</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>List of Bus Stations</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Street</th>
            <th>District</th>
        </tr>
        {% for station in page %}
        <tr>
            <td>{{ station.name }}</td>
            <td>{{ station.location }}</td>
            <td>{{ station.district }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ page.number }} of {{ page.paginator.num_pages }}.
            </span>

            {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">next</a>
            <a href="?page={{ page.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>
